*{
	margin:0;
	padding:0;
	font-family: arial;
}




#header-container{

	height:80px;
	width:100%;
	left: 0;
  background-color:white;
}
#header-content{
	height:100%;
	width:100%;

}








	#logo-container {
		padding:10px 30px;
		letter-spacing:2px;
			text-transform: uppercase;
			font-weight: 700;
		outline:0;
		color:#333;
		
		cursor:pointer;
		margin:15px;
		left:calc(50% - 82px);
		border:2px solid #d45492;
		font-family: 'Roboto', sans-serif;
		background-color:transparent;
		transition: all .4s ease;
	}





#footinfo {
	height:auto;
	width:33%;
	float:left;
	padding:40px 0px;
	color: gray;
	font-size: 105%;
	text-align:center;

}
.link-a{
	height:90px;
	width:auto;
	display:block;
	margin:auto;
}
.link-img{
	display:block;
	margin-left: auto;
  margin-right: auto;
}
.link-container{
	float:left;
	padding:40px 0px;
	width:33%;
}

footer {

	border-top: 1px solid #d3d3d3;


}
